body {
    margin: 0;
    background-color: #EEEEEE;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.initForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.floatingButton {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background: transparent;
    border: none;
}